.header{
display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
  margin-left: 400px  ;
  .wrapper{
  display: flex;
  justify-content: space-between;
    width: 100%;
    align-items: center;

    .logo{
      display: flex;
      cursor: pointer;
p{
  padding-top: 15px;
  margin-left: 10px ;
}
    }

    ul{
      display: flex;
      gap: 40px ;
      li{
        list-style-type: none ;
        cursor: pointer;


      }
    }
}



}